/* Start Navigation Bar */

/* nav {

}

nav .navbar-brand {
    color: var(--primary-color);
    font-size: 40px;
}

nav .navbar-brand span {
    display: inline-block;
    font-size: 35px;
    color: var(--secondary-color);
}

nav li a {
    color: var(--primary-color);
}

nav li:nth-of-type(2) a {
    color: var(--secondary-color);
} */

/* Start Navigation Bar */

nav {
    background-color: #f8f9fa;
}

.navbar-light .navbar-brand {
    color: var(--primary-color);
    font-size: 40px;
    font-weight: var(--font-weight-bold);
}

.navbar-light .navbar-brand span {
    display: inline-block;
    font-weight: var(--font-weight-normal);
    font-size: 35px;
    color: var(--secondary-color);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--primary-color);
    transition-property: color;
    transition-duration: var(--transition-duration);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .active > .nav-link {
    color: var(--secondary-color);
}

/* End Navigation Bar */

/* End Navigation Bar */